$ligth-yellow: #eae7dc;
$beige: #d8c3a5;
$grey: #8e8d8a;
$apricot: #e98074;
$red: #e85a4f;

$fs-xxs: 1rem;
$fs-xs: 1.2rem;
$fs-sm: 1.3rem;
$fs-md: 1.5rem;
$fs-lg: 1.6rem;
$fs-xl: 1.8rem;
$fs-xxl: 2rem;
$fs-heading: 3rem;
$font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
  system-ui, sans-serif;

$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
